/* Doodle Slider CSS */
/* image */
.doodleItem img {
  min-width: 150px;
  width: 80%;
  max-width: 300px;
  min-height: 150px;
}
/* Slider  */
.horizontalSlider {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sliderContainer {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* item */
.doodleItem {
  margin: 1rem;
  text-align: center;
  min-width: 30%;
  box-shadow: 4px 3px 7px #4e4e4e6b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(221 221 221);
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
/* icon */
.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 300px;
  width: 80%;
  margin: 10px auto;
}
/* button */
button.deleteDoodle > * {
  pointer-events: none;
}
/* Media Query's */

@media only screen and (max-width: 1073px) {
  .sliderContainer {
    justify-content: flex-start;
  }
  .doodleItem {
    min-width: 40%;
    margin: 1rem 5%;
  }
}
@media only screen and (max-width: 830px) {
  .doodleItem {
    margin: 1rem auto;
    box-shadow: 2px 3px 7px #4e4e4e67;
    /* min-width: 40%; */
  }
}

@media only screen and (max-width: 600px) {
  .horizontalSlider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    box-sizing: border-box;
  }
  .horizontalSlider::-webkit-scrollbar {
    display: none;
  }
  .sliderContainer {
    display: block;
    white-space: nowrap;
  }
  .iconContainer {
    padding: 10px 0;
    width: 100%;
    margin: 0;
  }
  .doodleItem {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }
  .doodleItem img {
    width: 150px;
    height: 150px;
  }
}
