/* Green color scheme */
.green .background {
  background-color: #62A321;
  background-image: url("https://images.pexels.com/photos/732548/pexels-photo-732548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

.green .styled-button {
  background-color: #62A321;
}

.green .reverse-button {
  color: #62A321;
}


.green .list-icon {
  background-color: #62A321;
}

/* Red color scheme */
.red .background {
  background-color: #FA4925;
  background-image: url("https://images.pexels.com/photos/751373/pexels-photo-751373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

.red .styled-button {
  background-color: #FA4925;
}

.red .reverse-button {
  color: #FA4925 !important;
}

.red .list-icon {
  background-color: #FA4925;
}

/* Blue color scheme */
.blue .background {
  background-color: #3287FA;
  background-image: url("https://images.pexels.com/photos/1934846/pexels-photo-1934846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}

.blue .styled-button {
  background-color: #3287FA;
}

.blue .reverse-button {
  color: #3287FA;
}

.blue .list-icon {
  background-color: #3287FA;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

.styled-button:hover {
  background-color: #474747 !important; 
}

h2, h1 {
  font-family: "Rock Salt", cursive;
}

p {
  font-family: "Raleway", sans-serif;
}

.MuiTypography-body1 {
  font-family: "Raleway", sans-serif;
}

.MuiFab-root, .MuiFormLabel-root {
  font-family: "Raleway", sans-serif !important;
}

.fc-button{
  font-family: "Raleway", sans-serif !important;
  background-color: #474747 !important;
}

.blue .fc-h-event .fc-event-main, .blue .fc-v-event .fc-event-main{
  background-color: #3287FA;
}

.red .fc-h-event .fc-event-main, .red .fc-v-event .fc-event-main{
  background-color: #FA4925;
}

.green .fc-h-event .fc-event-main, .green .fc-v-event .fc-event-main{
  background-color: #62A321;
}