/* container */
#menuContainer {
  display: flex;
  justify-content: space-around;
  background: #474747;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Rock Salt', cursive;
}
/* items */
.menuItems {
  padding: 0.5rem;
}
.sn-active {
  color: #FAB228;
  text-decoration: underline;
}
.menuItems:hover {
  color: #666666;
  cursor: pointer;
}
/* media query */
@media only screen and (max-width: 750px) {
  .menuItems {
    padding: 5px;
    margin: 0;
    border-bottom: solid 1px black;
  }
  #menuContainer {
    flex-direction: column;
  }
}
